body {
    margin: 0px;
    padding: 0px;
    width: 100%
}
#container {
    background-color: white;
    width: 100%;
    
}

nav {
    width: 100%;
    float: left;
    background-color: #fdd835;
    margin: 0px;
    padding: 10px;
}



#logo img{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    height: 60px;
}

ul{
    line-height: 60px;
    margin: 0 0 0 300px;
    padding: 0px;
}

li {
    background-color: #fdd835;
    list-style: none;
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;   
}

ul li a {
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    display: block;
    width: 150px;
    height: 60px;
    color: black;
}


ul ul {
  position: absolute; 
  visibility: hidden;
  margin: 0px;
}

ul li:hover ul {
    visibility: visible; 
}

li:hover{
    background: #000000;
}

li:hover> a{
    color: white;
}

#kolumn1 {
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 100px;
    width: 75%;
}

#footer {
    background-color: #fdd835;
    padding: 20px;
    width: 100%;
    height: 60px;

}

#footer img {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    font-family: "georgia";
    font-size: 2.5em;
}

h2 {
    font-family: "georgia";
    font-size: 1.5em;
}
p {
    font-family: "georgia";
    font-size: 1em;
}
.bold {
    font-weight: bold;
}

.containedarticle {
    border: 5px solid #fdd835;;
    padding: 10px;
    margin-bottom: 10px;
}

.welcome{
    font-weight: bold;
    font-size: 1em;
    padding-left: 20px;;
}